html, body, h1, h2, a, i, select, p, section,
div, ul, li, strong, em {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  text-decoration: none;
  color: black;
}

ul {
list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
  content= "";
  display: block;
  clear: both;
}


h1 {
  font-family: 'Cabin Sketch';
  display: block;
  height: 20px;
  width: 25px;
  background: black;
}
em {
  font-weight: bold;
}
body {
  font-family: "Ubuntu";
  width: 950px;
  margin: auto;
}

a {
  float: left;
  display: block;
  padding: 15px;
  margin: auto;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  background: white;
}

.picture {
  float: left;
  border-radius: 50% 0 50% 0;
  height: 350px;
  width: 350px;
  border: 1px solid black;
  overflow: hidden;
}

.contact {
  z-index: 500;
  opacity: 1;
  background: green ;
  opacity: .8;
  float: right;
  height: 200px;
  width: 300px;
  position: fixed;
  right: 10px;
}

.contact > .contact-info {
  color: white;
}

.sidebarleft {
  float: left;
  background: yellow;
  display: block;
  width: 120px;
}

.sidebarright {
  float: right;
  background: yellow;
  display: block;
  width: 120px;
}

div > ul li {
  margin: 10px 10px;
  display: block;
  height: 100px;
  width: 100px;
  background: blue;
  float: left
}
.balloons {
  width: 200px;
  height: 450px;
  border: 1px solid red;
  float: right;
}

.edu {
  margin: 20px 0 0 0;
  height: 200px;
  width: 400px;
  border: 1px solid red;
  float:left;
}

.seaStack:hover > .cover {
  position: absolute;
  display: block;
  background: black;
  opacity: .8;
  width: 300px;
  height: 300px;
}

.seaStack > .cover {
  display: hidden;
  position: absolute;
}

.ski:hover > .cover {
  position: absolute;
  display: block;
  background: black;
  opacity: .8;
  width: 300px;
  height: 300px;
}

.ski > .cover {
  display: hidden;
  position: absolute;
}






/*.projects * {
  margin: 20px;
}*/

.seaStack {
  margin: 20px
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid red;
  float: right;
}

.ski {
  margin: 20px 0  0 0;
  width: 300px;
  height: 300px;
  border: 1px solid red;
  float: left;
}
