html, body, h1, h2, a, i, select, p, section,
div, ul, li, strong, em {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

ul {
list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.group:after {
  content= "";
  display: block;
  clear: both;
}

html {
  background: #3D3333;
}

h1 {
  font-family: 'Cabin Sketch';
  display: block;
  height: 20px;
  width: 25px;
}
em {
  font-weight: bold;
}
body {
  font-family: "Ubuntu";
  width: 950px;
  margin: auto;
}

a:hover {

  color: purple;
}

  a {
  font-size: 40px
}

.picture {
  float: left;
  border-radius: 0 0 50% 0;
  height: 350px;
  width: 350px;
  border: 1px solid black;
  overflow: hidden;
  margin: 20px 0 0 0
}


.name {
  display: block;
  width: 265px;
  height: auto;
  margin: 20px 30px 0 50px;
  float: left;
  font-size: 80px;
  color: white;
  /*border: 1px solid red;*/

}

.contact {
  z-index: 500;
  opacity: 1;
  /*background: #04569F ;*/
  opacity: .8;
  margin: 0 30px 0 50px;
  float: left;
  height: 150px;
  width: 265px;
  right: 325px;
  top: 200px;
  /*border: 1px solid red;*/
}

.contact > .contact-info {
  color: white;
  padding: 20px
}

.sidebarleft {
  float: right;
  background: #3D3333;
  display: block;
  width: 120px;
}

.sidebarright {
  float: right;
  background: #3D3333;
  display: block;
  width: 120px;
}

div > ul li {
  margin: 10px 10px;
  display: block;
  height: 100px;
  width: 100px;
  background: #3D3333;
  float: left
}
.balloons {
  width: 200px;
  height: 450px;
  border: 1px solid black;
  float: right;
}

.edu {
  margin: 20px 0 0 0;
  padding: 20px;
  height: auto;
  width: 70.31%;
  /*border: 1px solid black;*/
  float:left;
  color: white;
}


.seaStack:hover > .cover {
  position: absolute;
  display: block;
  background: black;
  opacity: .9;
  width: 266px;
  height: 266px;
  color:white;
}

.seaStack:hover > .cover > p {
  display: block;
  color: white;
  text-align: center;

}

.seaStack > .cover {
  display: hidden;
  position: absolute;
}

.ski:hover > .cover {
  position: absolute;
  display: block;
  background: black;
  opacity: .9;
  width: 266px;
  height: 266px;
  color: white;
}

.ski > .cover {
  display: hidden;
  position: absolute;
}

.ski:hover > .cover > p {
  display: block;
  color: white;
  text-align: center;

}
.chess:hover > .cover {
  position: absolute;
  display: block;
  background: black;
  opacity: .9;
  width: 266px;
  height: 266px;
  color:white;
}

.chess > .cover {
  display: hidden;
  position: absolute;
}
.chess:hover > .cover > p {
  display: block;
  color: white;
  text-align: center;

}





/*.projects * {
  margin: 20px;
}*/

.seaStack {
  margin: auto;
  position: relative;
  width: 266px;
  height: 266px;
  border: 1px solid black;
  float: left;
}
.seaStack p{
  display:none;
}

.ski {
  position: relative;
  margin: auto;
  width: 266px;
  height: 266px;
  border: 1px solid black;
  float: left;
}

.ski p{
  display:none;
}
.chess {
  margin: auto;
  width: 266px;
  height: 266px;
  border: 1px solid black;
  float: right;
}
.chess p{
  display:none;
}
.projects {
  width: 804px;
  margin: auto;
}
